Q1.Create one variable containing following type of data:

(1)string = "science"

(2)list = [22 , 33.4, "book" , "test" , True]

(3)float = 44.67

(4)tuple = ("subject" , 90 , "marks" , False)

In [2]:
a = "science"

In [3]:
type(a)

str

In [4]:
b = [22, 33.4, "book" , "test" , True]

In [5]:
type(b)

list

In [6]:
c = 44.67

In [7]:
type(c)

float

In [8]:
d = ("subject" , "90" , "marks" , False)

In [9]:
type(d)

tuple

Q2. Given are some following variables containing data:
    what will be data type of given varables?

(1).var1 = ' ' 
Ans. String

  (2).var2 = '[DS , ML, python]'
  Ans. String
  
  (3).var3 = ['DS' , 'ML' , 'python']
  Ans. List
  
  (4).var4 = 1
  Ans. Integer

Q3. Explain the use of the following operators using an example:

(1)/ = Float division involves the dividing the left-hand operand in python programming.This operation yields a            floating-point result, allowing for the inclusion of decimal values inthe outcome.
    Example : 2/5 = 2.5
    
(2)% = It returns the remainder of dividing the left hand operanad by right hand operand. It is used to get the            remainder of a division problem.
    Example : 24%5 
        
(3)// = It produces a result that is rounded down to the nearest integer.It produces a quotient without decimal             digits. It is known as floor division the floor division operator adjusts its beahvior for negative                 operands, ensuring consistent results.
    Example: 5//2 = 2, 
    -11//3 = -4
            
(4)** = It acts as exponential operator for numeric values. When used in function desfiniton, it allows the                 programmer to input multiple argument and parameters. It is also known as power operator.
    Example : 2**3 = 8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element       and its data type.

In [48]:
a = [10, 20 , 50, 21.3, 'geekyS', 'school' , 'book' , True, 'world' , False]

In [50]:
for i in a : 
    print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'str'>
<class 'bool'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [ ]:
a = int(input())
b = int(input())
c =0 
if(a/b == 0) :
     while ((a/b>= b) and type (a/b)) : 
        c+=1 
        a/=b
        c
else :
    print("not divisible")

not divisible

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [4]:
l = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
l1 =[]
l2 =[]
for i in l:
    if i%3 == 0:
        l1.append(i)
    else:
        l2.append(i)
l1

[3, 6, 9, 12, 15, 18, 21, 24]

In [5]:
l2

[1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19, 20, 22, 23, 25]

Q7. What do you unerstand about mutable and immutable data types? Give examples for both showing this property.

Ans.Mutable data type = Mutable data types are those,  whose values can be modified.
                        Examples = list, set and dictionary

In [12]:
#examples of mutable data types,
f = [1,2,3,4]

In [13]:
f[0] = 2

In [14]:
f

[2, 2, 3, 4]

Immutable data type = Immutable data types are those, whose values can not be modified once they are created. Examples = int, str, bool, float, tuple,etc.

In [21]:
#examples of immutable data type:
s = (1,2)

In [22]:
s[0] = 3

TypeError: 'tuple' object does not support item assignment